AWS_REGION=<AWS_REGION>
# DynamoDB
TELEMETRY_TABLE=<DYNAMODB_TELEMETRY>
ALERTS_TABLE=<DYNAMODB_TELEMETRY>
HAZARD_ZONES_TABLE=<DYNAMODB_TELEMETRY>

#Lambda
DETECTOR_LAMBDA=<DETECTOR_LAMBDA_NAME>
RAG_LAMBDA=<RAG_QUERY_LAMBDA-NAME>

# SNS
SNS_TOPIC_ARN=<SNS_TOPIC_ARN>

# Ingestor API GW
INGESTOR_API_URL=<INGESTOR_API_GW_URL>
INGESTOR_API_TOKEN=<NGESTOR_API_TOKEN>
